.flex{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-left: 1rem;

}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}
li{
    margin-left: 1rem;
}
.img{
    margin-left: 1rem;
}
.complete{
    display: flex;
 
    list-style: none;  


}
.google{
    height: 19rem;
      justify-content: center;
  align-items: center;
}
section{

   
    display: flex;
  
  
    animation: none;
}

.search{
   display: flex;
   justify-content: center;
  
 

  

}
.search:hover{
   box-shadow: 1px lightblue ;
}
.se{
    height: 15px;
    width: 14px;
  padding: 0.19px;
}
input{
    
      outline: none;
      border: none;
      width: 40%;
      justify-content: center;
      
}
.micro{
    height: 1rem;
    width: 1rem;
    margin-left: 13rem;
}
.border{
    display: flex;
    border: 1px solid rgb(107, 101, 101);
    height: 1.3rem;
    padding: 0.4rem;
    border-radius: 20px;
      justify-content: center;
  align-items: center;
  cursor: pointer;

}
.border:hover{
      box-shadow: lightgray 1px 1px 1.4px 1px;
      
}

.footer{
    display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 1rem;
   padding: 1rem;
  

    
}
.button{
    height: 2rem;
    width: 8rem;
     border-radius: 1rem;
     border: none;
     border: 0.3px solid rgb(0, 0, 0);
     cursor: pointer;
    
}
.button:hover{
    background-color: rgb(226, 221, 221);
}
.button:active{
     background-color: rgb(165, 160, 160);
     border: 1px solid white;
}
#madhu:hover{
       background-color: rgb(226, 221, 221);
}
#madhu{
      height: 2rem;
    width: 8rem;
     border-radius: 1rem;
     border: none;
     border: 0.3px solid rgb(0, 0, 0);
     cursor: pointer;
    

}
#madhu:active{
      background-color: rgb(165, 160, 160);
     border: 1px solid white;

}
p{
    text-align: center;
    font-size: 13px;
    font-style: normal;
}
.hindi{
    color: blue;
}
.header{
  
    background-color: lightcoral;
  
    justify-content: space-between;
    margin-top: 1rem;
    cursor: pointer;

}
.header:hover{
    text-decoration: underline;

}
.li{
    list-style: none;
    padding: 5px;
}

ul{
    list-style: none;
    display: flex;
    
}

.article{

    list-style: none;
    display: flex;
    justify-content: space-between;
}
.ul{
    display: flex;
  
}